<!DOCTYPE html>
{% load static %}
<html lang="fr" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>sport reporting! - {% block title %}{% endblock %}</title>
{#  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>#}
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<div class="container">
  <nav>
    <div class="side-nav">
    </div>
  </nav>

  <section>
    <div class="content">
      <!-- block eg: reporting -->
      {% block content %}
        Django block!
      {% endblock %}
    </div>
  </section>
</div>
</body>
</html>
